$colors: (
  primary: (
    500: hsl(22, 89%, 52%),
    400: hsl(22, 100%, 69%),
  ),

  neutral: (
    black:   hsl(220, 50%, 17%),
    gray500: hsl(221, 23%, 58%),
    gray400: hsl(198, 28%, 93%),
    white:   hsl(0, 0%, 100%),
  ),
)