@use './functions' as *;


$font-weights: (
  medium:  500,
  bold:    700,
  black:   900,
);


$font-sizes: (
  small-screen: (
    xl:    prem(44),
    lg:    prem(32),
    md:    prem(24),
    sm:    prem(16),
  ),

  large-screen: (
    xl: prem(56),
  ),
);


$line-heights: (
  small-screen: (
    heading:     prem(48),
    subheading:  prem(36),
    sub3heading: prem(28),
    paragraph:   prem(26),
  ),

  large-screen: (
    heading: prem(56),
  ),
);