@use '../abstracts' as *;

.container {
  padding: 23px 24px 50px 24px;

  @include media($breakpoint-medium) {
    padding: 40px 39px 43px 40px;
  }

  @include media($breakpoint-large) {
    padding: 55px 39px 39px 40px;
  }
}