@use '../abstracts' as *;

.description {
  @include flex-center(column);
  text-align: center;

  @include media($breakpoint-medium) {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
  }

  @include media($breakpoint-large) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
  }

  &__subheading {
    max-width: 10ch;
    margin-bottom: prem(24);
    //margin-right: prem(34);

    @include media($breakpoint-medium) {
      margin-bottom: 0;
    }

    @include media($breakpoint-large) {
      margin-bottom: prem(27);
    }
  }

  &__paragraph {
    max-width: 36ch;
    
    @include media($breakpoint-medium) {
      //margin-left: auto;
      max-width: 44ch;
    }

    @include media($breakpoint-large) {
      margin-left: 0;
    }
  }
}

.description-figures {
  @include media($breakpoint-large) {
    display: flex;
    flex-direction: row;
  }
}