@use '../abstracts' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: prem(64);

  @include media($breakpoint-medium) {
    //display: flex;
    flex-direction: row;
    //align-items: center;
  }

  &__action {
    padding-right: 20px;
    min-width: 50%;
  }

  &__heading {
    margin-bottom: prem(32);
    max-width: 10ch;
  }

  &__paragraph {
    margin-bottom: prem(32);
    max-width: 36ch;

    @include media($breakpoint-medium) {
      max-width: 44ch;
    }
  }

  &__figure {
    background-image: url(../assets/mobile/image-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: 100% 331px;
    background-position: center center;
    border-radius: 15px;
    width: 100%;
    height: 331px;
    margin-top: 64px;
    margin-bottom: 24px;
    overflow: hidden;

    @include media($breakpoint-medium) {
      background-image: url(../assets/tablet/image-keyboard.jpg);
      margin-top: 0;
      background-size: 100% 425px;
      width: 100%;
      height: 425px;
    }

    @include media($breakpoint-large) {
      background-image: url(../assets/desktop/image-keyboard.jpg);
      background-size: 100% 480px;
      height: 480px;
      position: relative;
      z-index: 10;
    }
  }
}