@use '../abstracts' as *;


.hero {
  position: relative;
  @include flex-center(column);
  padding: 0 24px;
  margin-bottom: 26px;
  //overflow: hidden;

  @include respond-to(medium) {
    width: min(1110px, 100%);
    flex-direction: row;
    padding: 0 40px 0 39px;
    margin-bottom: 40px;
  }

  @include respond-to(large) {
    margin-bottom: 30px;

    &::after {
      position: absolute;
      top: 0;
      right: -25%;
      content: url(../assets/shared/pattern-square.svg);
    }
  }
}

.hero__content {

  width: fit-content;
  @include respond-to(medium) {
    margin-right: auto;
  }
}

.hero__headline {
  max-width: 11ch;
  margin-bottom: prem(32);
}

.hero__supporting {
  max-width: 40ch;
  margin-bottom: prem(32);
}

.hero__release {
  text-transform: uppercase;

  @include respond-to(medium) {
    //transform: translateX(20px);
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 64px;
  gap: 22px;

  @include respond-to(medium) {
    min-width: 327px;
    margin-bottom: 0;
  }
}

.hero__img {
  width: min(372px, 100%);
  //width: 372px;
  height: 331px;
  background-image: url(../assets/mobile/image-keyboard.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  overflow: hidden;
  transform: translateX(24px);

  @include respond-to(medium) {
    width: 478px;
    height: 425px;
    background-image: url(../assets/tablet/image-keyboard.jpg);
    border-radius: 15px 0 0 15px;
    transform: translateX(40px);
  }
  
  @include respond-to(large) {
    width: 540px;
    height: 480px;
    background-image: url(../assets/desktop/image-keyboard.jpg);
    border-radius: 15px;
    transform: translateX(0);
  }
}