@use '../abstracts' as *;


.benefits {
  @include flex-center(column);
  margin-bottom: 186px;
  text-align: center;

  @include respond-to(large) {
    position: relative;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    width: min(100%, 1440px);
    margin-bottom: 150px;
  }
}

.benefits__top-cntnr {
  @include flex-center(column);
  grid-row: 1;
  grid-column: 1 / -1;
}

.benefits__left-cntnr {
  grid-row: 2 / -1;
  grid-column: 1 / span 3;
}

.benefits__right-cntnr {
  grid-column: 5 / span 2;
  
  @include respond-to(large) {
    text-align: left;
  }
}

.benefits__subheading {
  max-width: 15ch;
  margin-bottom: prem(16);

  @include respond-to(medium) {
    max-width: fit-content;
    margin-bottom: prem(19);
  }
}

.benefits__supporting {
  max-width: 30ch;
  margin-bottom: prem(65);

  @include respond-to(medium) {
    max-width: 60ch;
    margin-bottom: prem(80);
  }
}

.benefits__img {
  max-width: min(312px, 100%);
  max-height: 238px;
  margin-bottom: 56px;

  @include respond-to(medium) {
    max-width: 100%;
    max-height: 572px;
  }

  @include respond-to(large) {
    max-width: 752px;
    margin-bottom: 0;
    transform: translateX(-100px);
  }
}

.benefits__benefit {
  margin-bottom: prem(10);
}

.benefits__description {
  max-width: 30ch;
  margin-bottom: prem(48);

  @include respond-to(medium) {
    max-width: 34ch;
    margin-bottom: prem(56);
    text-align: left;
  }

  @include respond-to(large) {
    margin-bottom: 0;
  }
}

.benefits__description--last {
  margin-bottom: 0;
}