@use '../abstracts' as *;


.hero {
  @include flex-center(column);
  margin: 123px 0 160px 0;
  text-align: center;

  @include respond-to(medium) {
    margin: 128px 0 150px 0;
  }
}

.hero__logo {
  width: 125px;
  height: 125px;
  margin-bottom: 64px;

  @include respond-to(medium) {
    margin-bottom: 56px;
  }
}

.hero__headline {
  max-width: 15ch;
  margin-bottom: prem(16);

  @include respond-to(medium) {
    max-width: fit-content;
  }
}

.hero__supporting {
  max-width: 30ch;
  margin-bottom: prem(48);

  @include respond-to(medium) {
    max-width: 55ch;
  }
}

.hero__buttons {
  @include flex-center;
  flex-wrap: wrap;
  gap: 24px;
}