@use '../abstracts' as *;


.sponsors {
  @include flex-center(column);
  margin-bottom: 170px;
  gap: 80px;

  @include respond-to(medium) {
    margin-bottom: 150px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}