@use '../abstracts' as *;


.btn {
  display: inline-block;
  padding: prem(11) prem(14);
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: none;
  border-radius: 8px;

  @include respond-to(medium) {
    padding: prem(16) prem(26);
  }
}

.btn--primary {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-white);

  &:hover,
  &:focus {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-white);
    transition: 250ms ease-in-out;
  }
}

.btn--neutral {
  background-color: var(--clr-neutral-gray400);
  color: var(--clr-neutral-black);

  &:hover,
  &:focus {
    background-color: var(--clr-neutral-black);
    color: var(--clr-neutral-white);
    transition: 250ms ease-in-out;
  }
}

.btn--psuedo {
  color: var(--clr-neutral-gray500);
}