@use '../abstracts' as *;


.icon {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: var(--clr-primary-500);
  border-radius: 16px;
}

.icon__svg {
  @include primitive-center;
}