:root {
  --clr-primary-500: #f26818;
  --clr-primary-400: #ff9b61;
  --clr-neutral-black: #162441;
  --clr-neutral-gray500: #7b8bad;
  --clr-neutral-gray400: #e8eff2;
  --clr-neutral-white: white;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
  --fs-xl: 2.75rem;
  --fs-lg: 2rem;
  --fs-md: 1.5rem;
  --fs-sm: 1rem;
  --lh-heading: 3rem;
  --lh-subheading: 2.25rem;
  --lh-sub3heading: 1.75rem;
  --lh-paragraph: 1.625rem;
}
@media (min-width: 1025px) {
  :root {
    --fs-xl: 3.5rem;
  }
}
@media (min-width: 1025px) {
  :root {
    --lh-heading: 3.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Barlow", sans-serif;
}

.heading,
.subheading,
.sub3heading {
  font-weight: var(--fw-black);
  color: var(--clr-neutral-black);
  text-transform: uppercase;
}

.heading {
  font-size: var(--fs-xl);
  line-height: var(--lh-heading);
}

.subheading {
  font-size: var(--fs-lg);
  line-height: var(--lh-subheading);
}

.sub3heading {
  font-size: var(--fs-md);
  line-height: var(--lh-sub3heading);
}

.paragraph {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  line-height: var(--lh-paragraph);
  color: var(--clr-neutral-gray500);
}

.paragraph--bold {
  font-weight: var(--fw-bold);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 0.6875rem 0.875rem;
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: none;
  border-radius: 8px;
}
@media (min-width: 767px) {
  .btn {
    padding: 1rem 1.625rem;
  }
}

.btn--primary {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-white);
}
.btn--primary:hover, .btn--primary:focus {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-white);
  transition: 250ms ease-in-out;
}

.btn--neutral {
  background-color: var(--clr-neutral-gray400);
  color: var(--clr-neutral-black);
}
.btn--neutral:hover, .btn--neutral:focus {
  background-color: var(--clr-neutral-black);
  color: var(--clr-neutral-white);
  transition: 250ms ease-in-out;
}

.btn--psuedo {
  color: var(--clr-neutral-gray500);
}

.icon {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: var(--clr-primary-500);
  border-radius: 16px;
}

.icon__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1110px, 100%);
  padding: 23px 24px 0 24px;
  margin-bottom: 64px;
}
@media (min-width: 767px) {
  .header {
    padding: 40px 40px 0 39px;
    margin-bottom: 62px;
  }
}
@media (min-width: 1025px) {
  .header {
    padding: 55px 24px 0 24px;
    margin-bottom: 83px;
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 26px;
}
@media (min-width: 767px) {
  .hero {
    width: min(1110px, 100%);
    flex-direction: row;
    padding: 0 40px 0 39px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1025px) {
  .hero {
    margin-bottom: 30px;
  }
  .hero::after {
    position: absolute;
    top: 0;
    right: -25%;
    content: url(../assets/shared/pattern-square.svg);
  }
}

.hero__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 767px) {
  .hero__content {
    margin-right: auto;
  }
}

.hero__headline {
  max-width: 11ch;
  margin-bottom: 2rem;
}

.hero__supporting {
  max-width: 40ch;
  margin-bottom: 2rem;
}

.hero__release {
  text-transform: uppercase;
}
.hero__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 64px;
  gap: 22px;
}
@media (min-width: 767px) {
  .hero__buttons {
    min-width: 327px;
    margin-bottom: 0;
  }
}

.hero__img {
  width: min(372px, 100%);
  height: 331px;
  background-image: url(../assets/mobile/image-keyboard.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  overflow: hidden;
  transform: translateX(24px);
}
@media (min-width: 767px) {
  .hero__img {
    width: 478px;
    height: 425px;
    background-image: url(../assets/tablet/image-keyboard.jpg);
    border-radius: 15px 0 0 15px;
    transform: translateX(40px);
  }
}
@media (min-width: 1025px) {
  .hero__img {
    width: 540px;
    height: 480px;
    background-image: url(../assets/desktop/image-keyboard.jpg);
    border-radius: 15px;
    transform: translateX(0);
  }
}

.reinforcement {
  padding: 0 24px;
  margin-bottom: 111px;
  text-align: center;
}
@media (min-width: 767px) {
  .reinforcement {
    width: min(1110px, 100%);
    padding: 0 40px 0 39px;
    margin-bottom: 142px;
  }
}
@media (min-width: 1025px) {
  .reinforcement {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .reinforcement::after {
    position: absolute;
    top: 50%;
    left: -25%;
    content: url(../assets/shared/pattern-square.svg);
  }
}

.reinforcement__imgs {
  display: flex;
  flex-direction: row;
  margin-bottom: 73px;
}
@media (min-width: 767px) {
  .reinforcement__imgs {
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  .reinforcement__imgs {
    margin-bottom: 0;
  }
}

.reinforcement__img-1,
.reinforcement__img-2 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.reinforcement__img-1 {
  width: 129px;
  height: 193px;
  background-image: url(../assets/mobile/image-phone-and-keyboard.jpg);
  background-color: var(--clr-primary-500);
  background-blend-mode: multiply;
  transform: translateX(-24px);
}
@media (min-width: 767px) {
  .reinforcement__img-1 {
    width: 214px;
    height: 320px;
    background-image: url(../assets/tablet/image-phone-and-keyboard.jpg);
    transform: translateX(0);
  }
}
@media (min-width: 767px) {
  .reinforcement__img-1 {
    width: 255px;
    height: 480px;
    background-image: url(../assets/desktop/image-phone-and-keyboard.jpg);
  }
}

.reinforcement__img-2 {
  width: 220px;
  height: 193px;
  background-image: url(../assets/mobile/image-glass-and-keyboard.jpg);
}
@media (min-width: 767px) {
  .reinforcement__img-2 {
    width: 445px;
    height: 320px;
    margin-left: 24px;
    background-image: url(../assets/tablet/image-glass-and-keyboard.jpg);
  }
}
@media (min-width: 767px) {
  .reinforcement__img-2 {
    width: 445px;
    height: 480px;
    background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
  }
}

.reinforcement__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  .reinforcement__content {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
}
@media (min-width: 1025px) {
  .reinforcement__content {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;
  }
}

.reinforcement__headline {
  max-width: 12ch;
  margin-bottom: 1.5rem;
}
@media (min-width: 767px) {
  .reinforcement__headline {
    margin-right: 5.75rem;
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  .reinforcement__headline {
    margin-right: 0;
    margin-bottom: 1.6875rem;
  }
}

.reinforcement__supporting {
  max-width: 34ch;
}
@media (min-width: 767px) {
  .reinforcement__supporting {
    max-width: 44ch;
  }
}
@media (min-width: 1025px) {
  .reinforcement__supporting {
    max-width: 29ch;
  }
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  gap: 4rem;
}
@media (min-width: 767px) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 4.5rem;
    -moz-column-gap: 4.25rem;
         column-gap: 4.25rem;
    padding: 0 40px 0 39px;
  }
}
@media (min-width: 1025px) {
  .features {
    gap: 1.875rem;
  }
}

.features__feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 767px) {
  .features__feature {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}

.features__icon {
  margin-bottom: 48px;
}
@media (min-width: 767px) {
  .features__icon {
    margin-bottom: 40px;
  }
}
@media (min-width: 767px) {
  .features__icon {
    margin-bottom: 48px;
  }
}

.features__headline {
  max-width: 15ch;
  margin-bottom: 1.5rem;
}

.features__supporting {
  max-width: 36ch;
}
@media (min-width: 767px) {
  .features__supporting {
    max-width: 31ch;
  }
}
@media (min-width: 1025px) {
  .features__supporting {
    max-width: 28ch;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 3.125rem;
}
@media (min-width: 767px) {
  .footer {
    margin-top: 8.875rem;
    margin-bottom: 2.6875rem;
  }
}
@media (min-width: 1025px) {
  .footer {
    margin-top: 8rem;
    margin-bottom: 2.4375rem;
  }
}/*# sourceMappingURL=main.css.map */