@use '../abstracts' as *;


html {
  font-family: 'Barlow', sans-serif;
}

.heading,
.subheading,
.sub3heading {
  font-weight: var(--fw-black);
  color: var(--clr-neutral-black);
  text-transform: uppercase;
}

.heading {
  font-size: var(--fs-xl);
  line-height: var(--lh-heading);
}

.subheading {
  font-size: var(--fs-lg);
  line-height: var(--lh-subheading);
}

.sub3heading {
  font-size: var(--fs-md);
  line-height: var(--lh-sub3heading);
}

.paragraph {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  line-height: var(--lh-paragraph);
  color: var(--clr-neutral-gray500);
}

.paragraph--bold {
  font-weight: var(--fw-bold);
}