$colors: (
  primary: (
    cyan: #4D96A9,
    turqoise: #8FE3F9
  ),

  accent: (
    violet: #855FB1,
    pink: #D9B8FF
  ),

  neutral: (
    black: #28283D,
    gray: #87879D,
    white: #FAFAFA
  )
)