@use './functions' as *;


$font-weights: (
  thin:      100,
  light:     300,
  regular:   400,
  medium:    500,
  semi-bold: 600,
  bold:      700,
  black:     900,
);


$font-sizes: (
  small-screen: (
    xl: prem(39.81),
    lg: prem(27.65),
    md: prem(23.04),
    sm:    prem(16),
    xs: prem(13.33),
  ),

  medium-screen: (
    xl: prem(48.83),
    lg: prem(31.25),
    md:    prem(25),
    sm:    prem(16),
    xs: prem(12.80),
  ),

  large-screen: (
    xl: prem(67.34),
    lg: prem(37.90),
    md: prem(28.43),
    sm:    prem(16),
    xs:    prem(12),
  ),
);


$line-heights: (
  small-screen: (
    paragraph: prem(26),
  ),

  medium-screen: (
    paragraph: prem(28),
  ),

  large-screen: (
    paragraph: prem(30),
  ),
);